.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4em;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: whitesmoke ;
    border: none;
    border-radius: 5px;
    cursor: pointer ;
    transition: background-color 0.5s ease;
    display: inline;

}

.add-button{
    background-color: hsl(125, 45% , 54%);
}
.add-button:hover{
    background-color: hsla(125, 47%, 44%) ;
}

.delete-button{
    background-color: hsl(10, 45% , 54%);
}
.delete-button:hover{
    background-color: hsla(10, 47%, 44%) ;
}

.up-button{
    background-color: hsl(207, 45% , 54%);
}
.up-button:hover{
    background-color: hsla(207, 47%, 44%) ;
}

.down-button{
    background-color: hsl(207, 45% , 54%);
}
.down-button:hover{
    background-color: hsla(207, 47%, 44%) ;
}

input[type= "text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid wheat;
    border-radius: 5px;
    color: black;
}

ol{
    padding: 0;

}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsla(0, 0, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.delete-button, .up-button, .down-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}